@import '../../styles/variables';

.filtersBar {
  margin: 30px 0;
  padding: 60px 8px 20px;
  border: 1px solid $main-coffee-color;
  border-left: none;
}

.priceFilter {
  padding: 0;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 30px;
  form div {
    @include flex-row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    div {
      @include flex-column;
      width: 100%;

      margin: 0;
      padding: 0;

      input {
        width: 100%;
        grid-area: input;
        padding: 4px 8px;
        height: 30px;
        margin: 0;
        border: 1px solid $main-coffee-color;
      }
      label {
        display: none;
      }
      span {
        grid-area: span;
      }
    }
  }
  form button {
    margin: 0 auto 15px;
    font-size: 90%;
  }
}
