@import '../../styles/variables';

.aboutContacts {
  padding: 30px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  div {
    h2 {
      @include flex-row;
      justify-content: flex-start;

      img {
        width: 50px;
        height: 50px;
        margin: 0px 10px;
      }
    }
    ul {
      padding: 20px;
      li {
        padding: 10px 0;
        span {
          font-family: $secondary-font;
          font-weight: 600;
        }
      }
    }
    &:first-child,
    &:last-child {
      width: 90%;
      height: 90%;
    }
    form {
      margin: 10px auto;
    }
  }
}

@media (max-width: 900px) {
  .aboutContacts {
    grid-template-columns: 1fr;
  }
}
