@import '../../styles/variables';

.checkoutForm {
  h4 {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    span {
      padding: 5px 11px;
      margin: 0 10px;
      border-radius: 50%;
      border: 1px solid $main-coffee-color;
      color: $main-coffee-color;
      cursor: pointer;
    }
  }
  button {
    max-width: 350px;
    margin-top: 20px;
  }
}

.formControls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  z-index: 20;
  position: relative;
  border-bottom: 1px solid $main-coffee-color;
}

@media (max-width: 1100px) {
  .formControls {
    grid-template-columns: 1fr;
    div:last-child {
      margin-bottom: 20px;
    }
  }
}
