@import '../../styles/variables';

.checkbox {
  text-align: center;
  @include flex-row;
  justify-content: center;
  align-self: center;
  input[type='checkbox'] {
    position: relative;
    min-width: 16px;
    min-width: 16px;
    height: 16px;
    margin: 0 20px;
    -webkit-appearance: initial;
    outline: none;
    cursor: pointer;
    border: 1px solid $main-coffee-color;
    transition: ease-in-out 0.3s background-color;
    box-sizing: content-box;
    background: $light-coffee-color;
    &:hover {
      background: $semilight-coffee-color;
    }
    &:checked:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      background: url('../../assets/icons/square.png') no-repeat center/cover;
      width: 10px;
      height: 10px;
    }
  }
}
